# Student Performance — 01 Loading and Cleaning

This notebook loads the Student Performance dataset and performs a first-pass cleaning.
The focus is on reproducibility, data quality checks, and defining a modeling target.

In [1]:
import pandas as pd
import numpy as np

In [2]:
DATA_PATH = "../data/student-mat.csv"
df = pd.read_csv(DATA_PATH, sep=";")  # UCI version uses ';' separator

df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
# Basic inspection
df.shape, df.columns.tolist()

((395, 33),
 ['school',
  'sex',
  'age',
  'address',
  'famsize',
  'Pstatus',
  'Medu',
  'Fedu',
  'Mjob',
  'Fjob',
  'reason',
  'guardian',
  'traveltime',
  'studytime',
  'failures',
  'schoolsup',
  'famsup',
  'paid',
  'activities',
  'nursery',
  'higher',
  'internet',
  'romantic',
  'famrel',
  'freetime',
  'goout',
  'Dalc',
  'Walc',
  'health',
  'absences',
  'G1',
  'G2',
  'G3'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [5]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
school,395,2,GP,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,395,2,F,208,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,395.0,NaN,NaN,NaN,16.696203,1.276043,15.0,16.0,17.0,18.0,22.0
address,395,2,U,307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
famsize,395,2,GT3,281,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pstatus,395,2,T,354,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Medu,395.0,NaN,NaN,NaN,2.749367,1.094735,0.0,2.0,3.0,4.0,4.0
Fedu,395.0,NaN,NaN,NaN,2.521519,1.088201,0.0,2.0,2.0,3.0,4.0
Mjob,395,5,other,141,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fjob,395,5,other,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reason,395,4,course,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN
guardian,395,3,mother,273,NaN,NaN,NaN,NaN,NaN,NaN,NaN
traveltime,395.0,NaN,NaN,NaN,1.448101,0.697505,1.0,1.0,1.0,2.0,4.0
studytime,395.0,NaN,NaN,NaN,2.035443,0.83924,1.0,1.0,2.0,2.0,4.0
failures,395.0,NaN,NaN,NaN,0.334177,0.743651,0.0,0.0,0.0,0.0,3.0
schoolsup,395,2,no,344,NaN,NaN,NaN,NaN,NaN,NaN,NaN
famsup,395,2,yes,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN
paid,395,2,no,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
activities,395,2,yes,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nursery,395,2,yes,314,NaN,NaN,NaN,NaN,NaN,NaN,NaN
higher,395,2,yes,375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
internet,395,2,yes,329,NaN,NaN,NaN,NaN,NaN,NaN,NaN
romantic,395,2,no,263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
famrel,395.0,NaN,NaN,NaN,3.944304,0.896659,1.0,4.0,4.0,5.0,5.0
freetime,395.0,NaN,NaN,NaN,3.235443,0.998862,1.0,3.0,3.0,4.0,5.0
goout,395.0,NaN,NaN,NaN,3.108861,1.113278,1.0,2.0,3.0,4.0,5.0
Dalc,395.0,NaN,NaN,NaN,1.481013,0.890741,1.0,1.0,1.0,2.0,5.0
Walc,395.0,NaN,NaN,NaN,2.291139,1.287897,1.0,1.0,2.0,3.0,5.0
health,395.0,NaN,NaN,NaN,3.55443,1.390303,1.0,3.0,4.0,5.0,5.0
absences,395.0,NaN,NaN,NaN,5.708861,8.003096,0.0,0.0,4.0,8.0,75.0
G1,395.0,NaN,NaN,NaN,10.908861,3.319195,3.0,8.0,11.0,13.0,19.0
G2,395.0,NaN,NaN,NaN,10.713924,3.761505,0.0,9.0,11.0,13.0,19.0
G3,395.0,NaN,NaN,NaN,10.41519,4.581443,0.0,8.0,11.0,14.0,20.0

In [6]:
# Data check
df.isna().sum().sort_values(ascending=False).head(20)

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
# Quick cardinality check
df.nunique().sort_values()

school         2
sex            2
address        2
famsize        2
Pstatus        2
schoolsup      2
paid           2
famsup         2
nursery        2
romantic       2
internet       2
higher         2
activities     2
guardian       3
studytime      4
traveltime     4
failures       4
reason         4
freetime       5
Mjob           5
Medu           5
Fjob           5
Fedu           5
famrel         5
health         5
goout          5
Dalc           5
Walc           5
age            8
G1            17
G2            17
G3            18
absences      34
dtype: int64

## Target definition

We will use **G3** (final grade) as the primary target variable.
G1 and G2 are earlier period grades and can be highly predictive of G3, but they may also
represent "information leakage" depending on the intended use-case.

In this project, we keep G1 and G2 for exploratory analysis, and we will later evaluate
models both **with** and **without** these variables.

## Cleaning decisions (first pass)

This dataset is relatively clean. In this notebook we:
- Standardize column names (lowercase)
- Check for missing values and duplicates
- Ensure numeric columns are correctly typed
- Create a clean copy for downstream notebooks

In [9]:
df_clean = df.copy()
df_clean.columns = [c.strip().lower() for c in df_clean.columns]
df_clean.head()

,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,...,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [10]:
numeric_cols = ["age", "medu", "fedu", "traveltime", "studytime", "failures",
                "famrel", "freetime", "goout", "dalc", "walc", "health",
                "absences", "g1", "g2", "g3"]

for col in numeric_cols:
    if col in df_clean.columns:
        df_clean[col] = pd.to_numeric(df_clean[col], errors="coerce")

df_clean[numeric_cols].isna().sum().sort_values(ascending=False).head(10)

age           0
medu          0
fedu          0
traveltime    0
studytime     0
failures      0
famrel        0
freetime      0
goout         0
dalc          0
dtype: int64

In [11]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   pstatus     395 non-null    object
 6   medu        395 non-null    int64
 7   fedu        395 non-null    int64
 8   mjob        395 non-null    object
 9   fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  dalc        395 non-null    int64
 27  walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  g1          395 non-null    int64
 31  g2          395 non-null    int64
 32  g3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [12]:
df_clean.describe().T[["mean", "std", "min", "max"]]

                 mean       std   min   max
age         16.696203  1.276043  15.0  22.0
medu         2.749367  1.094735   0.0   4.0
fedu         2.521519  1.088201   0.0   4.0
traveltime   1.448101  0.697505   1.0   4.0
studytime    2.035443  0.839240   1.0   4.0
failures     0.334177  0.743651   0.0   3.0
famrel       3.944304  0.896659   1.0   5.0
freetime     3.235443  0.998862   1.0   5.0
goout        3.108861  1.113278   1.0   5.0
dalc         1.481013  0.890741   1.0   5.0
walc         2.291139  1.287897   1.0   5.0
health       3.554430  1.390303   1.0   5.0
absences     5.708861  8.003096   0.0  75.0
g1          10.908861  3.319195   3.0  19.0
g2          10.713924  3.761505   0.0  19.0
g3          10.415190  4.581443   0.0  20.0

## Output

We export a cleaned version of the dataset to be used consistently in later notebooks.

In [13]:
OUTPUT_PATH = "../data/student-mat-clean.csv"
df_clean.to_csv(OUTPUT_PATH, index=False)
OUTPUT_PATH

'../data/student-mat-clean.csv'